<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar area</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <style>
        *{
            margin: 0;
            font-family: sans-serif;
            box-sizing: border-box;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        label{
            width: 100%;
            display: block;
            font-weight: bold;
            font-size: 1.5rem;
        }
        input{
            font-size: 2rem;
            width: 100%;
            margin: 1rem 0;
            padding: 0 1rem;
        }
        textarea{
            font-size: 2rem;
            width: 100%;
            margin: 1rem 0;
            resize: vertical;
        }
        .tarjeta{
            width: 80vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .boton-submit{
            border: 2px black solid;
            background-color: #28a745;
            border-radius: 5px;
            font-size: 1.5rem;
            padding: 1rem;
            cursor: pointer;
            align-self: flex-end;
        }
        .boton-cancelar{
            border: 2px black solid;
            background-color: #dc3545;
            border-radius: 5px;
            font-size: 1.5rem;
            padding: 1rem;
            margin-right: 1rem;
            cursor: pointer;
            align-self: flex-end;
        }
        .botones{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    </style>
    <%- include("includes/headerStyle.ejs") %>
</head>
<body>
    <%- include("includes/header.ejs") %>
    <main>
        <% if(error == null) { %>
        <div class="tarjeta">
            <form action="" method="POST">
                <div>
                    <label for="area">Area al que pertenece</label>
                    <select name="area" id="area">
                        <option selected="true" disabled="disabled">Selecciona una opcion</option>
                        <% for (let i = 0; i < areas.length; i++) { %>
                            
                            <option value="<%- areas[i].idArea %>"><%- areas[i].nombre %></option>

                        <% } %>   
                    </select>
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%-sector.nombre%>">
                </div>
                <div>
                    <label for="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion"><%-sector.descripcion%></textarea>                
                </div>
            </form>
            <div class="botones">
                <button class="boton-cancelar" onclick="volver()">Cancelar</button>
                <button class="boton-submit" onclick="editar()">Editar</button>
            </div>
        </div>
        <% } %>
    </main>
    <script>
        async function editar(){
            let obj = {
                idArea: $("#area").val(),
                nombre: $("#nombre").val(),
                descripcion: $("#descripcion").val()
            }
            try {
                let result = await $.post(`/sectores/editar/<%-sector.idSector%>`,obj)
                if(result.result == "success"){
                    Swal.fire({
                    title: 'Sector editado correctamente',
                    icon: 'success',
                    confirmButtonText: "Ok",
                    confirmButtonColor: "#28a745"
                    }).then(()=>{
                        window.location = "/sectores"
                    })
                }else{
                    Swal.fire({
                    title: 'Hubo un error editando el sector',
                    text: `Error: ${result.error}`,
                    icon: 'error',
                    confirmButtonText: "Ok",
                    confirmButtonColor: "#dc3545"
                    })
                }
            } catch (error) {
                Swal.fire({
                    title: 'Hubo un error',
                    text: `Error: ${error.message}`,
                    icon: 'error',
                    confirmButtonText: "Ok",
                    confirmButtonColor: "#28a745"
                    })
            }
        }

        function volver() {
            window.location = "/sectores"
        }
    </script>
</body>
</html>