<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Item</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    
    <style>
        *{
            margin: 0;
            font-family: sans-serif;
            box-sizing: border-box;
        }
        main{
            display: flex;
            justify-content: center;
            width: 100vw;
        }
        .tarjeta{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #formulario{
            display: flex;
            flex-direction: column;
            width: 80vw;
            max-width: 800px;
        }
        .form-group{
            width: 100%;
        }
        .button-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        label{
            font-size: 2rem;
            font-weight: bold;
            display: block;
            width: 100%;
            margin: 1rem 0 0.5rem 0;
        }
        select{
            width: 100%;
            height: 3rem;
            font-size: 1.6rem;
        }
        input{
            width: 100%;
            font-size: 1.6rem;
            height: 3rem;
        }
        .boton-submit, .boton-submit:hover{
            border: 2px black solid;
            border-radius: 5px;
            font-size: 2rem;
            width: 20%;
            margin-top: 2rem;
            cursor: pointer;
        }
        #botonCancelar{
            background-color: #dc3545;
        }
        #botonCrear{
            background-color: #28a745;
        }
        #output{
            max-width: 100%;
            border: 2px solid black;
            border-radius: 2px;
        }
    </style>
    <%- include("includes/headerStyle.ejs") %>
</head>
<body>
    <%- include("includes/header.ejs") %>
    <main>
        <div class="tarjeta">
            <div id="formulario">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%-item.nombre%>" required>
                </div>
                <div class="form-group">
                    <label for="sector">Sector</label>
                    <select name="sector" id="sector" required>
                        <option value="" disabled>Selecciona un sector</option>
                        <% for( let i = 0; i < sectores.length; i++ ) { %>
                        <option value="<%-sectores[i].idSector%>"<% if(sectores[i].idSector == item.sector){ %>selected<% } %>><%-sectores[i].nombre%> - <%-sectores[i].nombreArea%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select name="categoria" id="categoria" required>
                        <option value="" disabled>Selecciona una categoría</option>
                        <% for( let i = 0; i < categorias.length; i++ ) { %>
                        <option value="<%-categorias[i].idCategoria%>"<% if(categorias[i].idCategoria == item.categoria){ %>selected<% } %>><%-categorias[i].nombre%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fechaAdq">Fecha adquisición</label>
                    <input type="date" name="fechaAdq" id="fechaAdq" value="<%-item.fechaAdquisicion%>">
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagen" id="imagen" class="form-control" onload="ocultar(); eliminarArchivo()" onchange="loadFile(event); ocultar()">
                    <img id="output" src="<%if(item.imagen != ''){%>/uploads/<%- item.imagen %><%}%>">
                    <button class="btn btn-danger boton-submit" id="boton" style="<%if (item.imagen == ''){%> display: none;<%}%>" onclick="eliminarArchivo(); unloadFile(); imagenVacia()">Eliminar Imagen</button>
                </div>
            </div>
            <div class="button-group">
                <button id="botonCancelar" class="boton-submit" onclick="cancelar()">Cancelar</button>
                <button id="botonCrear" class="boton-submit" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </main>
    <script>

        let sinImagen = false;
            
        function imagenVacia(){
            if(!sinImagen) sinImagen = true;
        }

        async function guardar() {
            var image = document.getElementById('imagen').files[0];
            let f = document.getElementById("imagen")
            var form_data = new FormData();
            if(f.files.length > 0){
                form_data.append('imagen', image);
                form_data.append('imagenAnterior', "<%-item.imagen%>");
            }else{
                if (sinImagen){
                    form_data.append('imagen', null);
                    form_data.append('imagenAnterior', "<%-item.imagen%>");
                }else{
                    form_data.append('imagen', "<%-item.imagen%>");
                }
            }
            form_data.append('nombre', document.getElementById('nombre').value);
            form_data.append('sector', document.getElementById('sector').value);
            form_data.append('categoria', document.getElementById('categoria').value);
            form_data.append('fechaAdquisicion', document.getElementById('fechaAdq').value);
            form_data.append('id', "<%-item.idItem%>");

            console.log("<%=item.idItem%>");

            result = await $.post({
                url : "/item/editar/<%-item.idItem%>",
                type: "POST",
                data : form_data,
                processData: false,
                contentType: false,
            });

            Swal.fire({
                icon: result.type,
                title: result.title,
                text: result.text,
                confirmButtonText: 'OK',
            }).then(() => {
                if (result.type == "success") window.location = "/item/<%-item.idItem%>";
            });
        }

        // async function crear(){
        //     let obj = {
        //         nombre: $("#nombre").val(),
        //         sector: $("#sector").val(),
        //         categoria: $("#categoria").val(),
        //         fechaAdquisicion: $("#fechaAdq").val()
        //     }

        //     try {
        //         let result = await $.post(`/item/crear`,obj)
        //         if(result.result == "success"){
        //             Swal.fire({
        //                 title: 'Item creado correctamente',
        //                 icon: 'success',
        //                 confirmButtonText: "Ok",
        //                 confirmButtonColor: "#28a745"
        //             }).then(()=>{
        //                 window.location = "/lista"
        //             })
        //         }else{
        //             Swal.fire({
        //                 title: 'Hubo un error creando el item',
        //                 text: `Error: ${result.error}`,
        //                 icon: 'error',
        //                 confirmButtonText: "Ok",
        //                 confirmButtonColor: "#dc3545"
        //             })
        //         }
        //     } catch (error) {
        //         Swal.fire({
        //             title: 'Hubo un error',
        //             text: `Error: ${error}`,
        //             icon: 'error',
        //             confirmButtonText: "Ok",
        //             confirmButtonColor: "#dc3545"
        //         })
        //     }
        // }

        function cancelar(){
            document.referrer ? window.location = document.referrer : history.back();
        }

        function eliminarArchivo(){ 
            var file = document.getElementById("imagen");
            file.value = file.defaultValue;
            // file.innerHTML = "";
            document.getElementById("boton").style.display = "none";
        }
        
        function ocultar(){
            let selected = document.getElementById("imagen").files.length > 0;
            let button = document.getElementById("boton");
            if (selected) {
                button.style.display = "inline-block"
            }else{
                button.style.display = "none"
            }
        }

        var loadFile = function(event) {
            var output = document.getElementById('output')
            output.style.display = "inline"
            output.src = URL.createObjectURL(event.target.files[0])
            output.onload = function() {
            URL.revokeObjectURL(output.src)
            }
        };

        function unloadFile(){
            let output = document.getElementById('output')
            output.src = "";
            output.style.display = "none"; 
        }
    </script>
</body>
</html>