<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: sans-serif;
            box-sizing: border-box;
        }
        .item-container{
            width: 98vw;
        }
        .item-container2{
            display: flex;
            flex-direction: row;
        }
        #item-imagen{
            height: 25rem;
            margin: 2rem;
        }
        .info-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
        .image-container{
            width: 60%;
            text-align: center;
        }
        .info-item{
            margin: 0.5rem;
            background-color: gray;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .nombre-propiedad{
            font-size: 1.5rem;
            font-weight: bold;
        }
        .valor-propiedad{
            font-size: 1.5rem;
            padding-top: 1rem;
        }

        #nombre-item{
            font-size: 3rem;
            width: 100%;
            margin: 1rem 0;
            align-self: center;
        }

        #boton-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #boton-m, #boton-m:visited{
            text-decoration: none;
            font-size: 2rem;
            padding: 1rem;
            margin: 2px;
            border-radius: 10px;
            display: inline-block;
            background-color: rgb(172, 172, 172);
            color: black;
        }

    </style>
</head>
<body>  
    <section class="item-container">
        <div class="item-container2">
            <div class="image-container">
                <img src="<%=item.imagen%>" alt="" id="item-imagen">
            </div>
            <div class="info-container">
                <h2 id="nombre-item">
                    <%= item.nombre %>
                </h2>
                <div class="info-item">
                    <div class="nombre-propiedad">
                        Sector:
                    </div>
                    <div class="valor-propiedad">
                        <%= item.nombreSector %>
                    </div>
                </div>
                <div class="info-item">
                    <div class="nombre-propiedad">
                        Categoría:
                    </div>
                    <div class="valor-propiedad">
                        <%= item.nombreCategoria %>
                    </div>
                </div>
                <div class="info-item">
                    <div class="nombre-propiedad">
                        Fecha de adquisición:
                    </div>
                    <div class="valor-propiedad">
                        <%= item.fechaAdquisicion %>
                    </div>
                </div>
                <div class="info-item">
                    <div class="nombre-propiedad">
                        Fecha últ. mantenimiento:
                    </div>
                    <div class="valor-propiedad">
                        <%= item.nombre %>
                    </div>
                </div>
                <div id="boton-container">
                    <a href="/mantenimientos/<%=item.idItem%>" id="boton-m">
                        Ver mantenimientos
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>