<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimientos</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        *{
            font-family: sans-serif;
            box-sizing: border-box;
        }

        body{
            margin: 0;
            padding: 0;
        }

        .titulos{
            margin: 0;
        }

        .tarjeta{
            width: 95vw;
            margin: 2rem auto;
            background-color: rgb(220, 220, 220);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .info{
            width: 30%;
            margin: 1rem;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(200, 200, 200);
        }

        .descripcion{
            width: 30%;
            margin: 1rem;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(200, 200, 200);
        }

        .obs{
            width: 30%;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
        }

        .obs1{
            padding: 10px;
            background-color: rgb(200, 200, 200);
            border-radius: 10px;
        }

        /* .obs1 h4, .obs1 p{
            margin: 0;
        } */

        .obs2{
            display: flex;
            justify-content: flex-end;
        }

        .boton{
            border-radius: 2000px;
            border: 0px;
            width: 3.5rem;
            cursor: pointer;
            margin: 1rem;
            aspect-ratio : 1 / 1;
            border: 2px solid black;
        }

        .boton-editar{
            background-color: #ffc107;
            color: black;
        }
        .boton-eliminar{
            background-color: rgb(209, 17, 0);
            color: black;
        }
        .boton-crear{
            background-color: #06bd7a;
            color: black;
        }

        #info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 3rem;
        }

        #item-info{
            font-size: 2.5rem;
        }

        #crear{

        }

    </style>
</head>
<body>
    <main>
        <section id="info">
            <div id="item-info">
                <h2><%- item[0].nombre %></h2>
            </div>
            <div id="crear">
                <a href="/mantenimientos/crear/<%- item[0].idItem %>">
                    <button class="boton-crear boton" onclick="crear()">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </button>
                </a>
            </div>
        </section>
        <% for( let i = 0; i < mantenimientos.length; i++ ) { %>
            <div class="tarjeta">
                <div class="info">
                    <h4 class="titulos">
                        Fecha:
                    </h4>
                    <p>
                        <%- mantenimientos[i].fecha %>
                    </p>
                    <h4 class="titulos">
                        Responsable:
                    </h4>
                    <p>
                        <%- mantenimientos[i].responsable %>
                    </p>
                    <h4 class="titulos">
                        Realizado por:
                    </h4>
                    <p>
                        <%- mantenimientos[i].realizadoPor %>
                    </p>
                </div>
                <div class="descripcion">
                    <h4 class="titulos">
                        Descripcion:
                    </h4>
                    <p class="descripcion-descripcion">
                        <%- mantenimientos[i].descripcion %>
                    </p>
                </div>
                <div class="obs">
                    <div class="obs1">
                        <h4 class="titulos">
                            Observaciones:
                        </h4>
                        <p>
                            <%- mantenimientos[i].observaciones %>
                        </p>
                    </div>
                    <div class="obs2">
                        <button class="boton-editar boton">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </button>
                        <button class="boton-eliminar boton">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    </main>
    <script>
        function crear(){
            window.location = `/mantenimientos/crear/${req.params.id}`
        }
    </script>
</body>
</html>